
<div class='row'>
	<div class='col-md-3'>
		<h3>Address</h3>
		<p>re:dress Contemporary Clothes Agency
		<p>10a Romsey Road</p>
		<p>Winchester</p>
		<p>SO23 8TP</p>
		<h3>Telephone</h3>
		<p>01962 841184</p>
		<h3>Email</h3>
		<a href='mailto:lindsay@redresswinchester.com'><p>lindsay@redresswinchester.com</p></a>
	</div>
	<div class='col-md-9'>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2507.429521951568!2d-1.3202184499999998!3d51.063620699999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48740d8db8090e7f%3A0x8e3a32dfff969530!2sReDress+Contemporary+Clothing+Agency%2C+Romsey+Rd%2C+Winchester%2C+United+Kingdom!5e0!3m2!1sen!2s!4v1390921285331" width="850" height="450" frameborder="0" style="border:0"></iframe>
	</div>
</div>