<div class='col-md-12'>
  <img src='img/shop_illustration.png'>
  <img class='logo' src='img/logo.png'> 
  <h1>New website coming soon!</h1>
  <h4>In the meantime, follow us on <a href='http://facebook.com/redresswinchester'>Facebook!</h4>
</div>