<div class='row'>
	<div class='col-md-6'>
	  <img src='img/shop_illustration.png'>
	</div>
	<div class='col-md-6 hours'>
		<h1>Opening Hours</h1>
		<p>Monday - 10am - 4pm</p>
		<p>Tuesday - 10am - 4pm</p>
		<p>Wednesday - 10am - 4pm</p>
		<p>Thursday - 10am - 4pm</p>
		<p>Friday - 10am - 4pm</p>
		<p>Saturday - 10am - 4pm</p>
		<p>Sunday - Closed</p>
	</div>
</div>	