<!DOCTYPE html>
<html>
<head>
  <title>re:dress Contemporary Clothes Agency</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">
  <link href="css/bootstrap-overrides.css" rel="stylesheet" media="screen">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
  <script src="js/bootstrap.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" role='navigation'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img class='mobile-head' src='img/logo.png'></a>
      </div>
      <div class='collapse navbar-collapse' id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT US</a></li>
          <li><a href="/terms">TERMS & CONDITIONS</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
  </nav>
  <div class='container'>
    <%= yield %>
  </div>
  <footer>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h3>Opening Hours</h3>
        <p>Monday : 10:00am - 4:00pm</p>
        <p>Tuesday : 10:00am - 4:00pm</p>
        <p>Wednesday : 10:00am - 4:00pm</p>
        <p>Thursday : 10:00am - 4:00pm</p>
        <p>Friday : 10:00am - 4:00pm</p>
        <p>Saturday : 10:00am - 4:00pm</p>
        <p>Sunday : Closed</p>
      </div>
      <div class='col-md-4'>
        <h3>Address</h3>
        <p>re:dress Contemporary Clothes Agency</p>
        <p>10a Romsey Road</p>
        <p>Winchester</p>
        <p>Hampshire</p>
        <p>SO23 8TP</p>
        </br>
        <a href='/contact'<h4>Find us on a map</h4></a>
      </div>
      <div class='col-md-4'>
      </div>
    </div>
  </div>
  </footer>
</body>
</html>