<div>
	<h1>Terms & Conditions</h1>
	<ol class='terms'>
		<li>Goods left for sale are left at owner's risk. re:dress can accept no responsibility for articles left on the premises.</li>
		<li>Goods are sold on a commission basis of 60% (Shop) - 40% (Client).</li>
		<li>Goods are kept in the shop for six weeks. At certain times of the year re:dress will have to stop taking in further items for sale and it is advisable to ring the ship in advance to check the situation.</li>
		<li>Goods not collected by the date they are due out of the shop may be sent to charity.</li>
		<li>Goods must be clean and pressed, and where possible show a dry cleaning ticket.</li>
		<li>Goods may be reduced in price at the discretion of re:dress</li>
		<li>All monies for garments sold must be collection within 3 months of the date they were left in the shop.</li>
		<li>A 'Goods-Left Receipt' must be presented at re:dress when money is to be paid out as proof of ownership.</li>
		<li>Goods cannot be exchanged after purchase and no credit notes will be given. Your statutory rights will not be affected.</li>
	</ol>
</div>	
